<section id="search" class="container-fluid" ng-controller="UtSearchController as model">

  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="section-heading">Application</h2>

        <h3 class="section-subheading text-muted">(Registration and Record-keeping)</h3>
      </div>
    </div>

    <div class="row ut-search-control">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <ui-select ng-model="model.selected" theme="bootstrap" ng-disabled="disabled">
          <ui-select-match placeholder="Search/Select...">{{$select.selected.subAppName}}</ui-select-match>

          <ui-select-choices 
            repeat="application in model.applicationList | propsFilter: {subAppName: $select.search, appName: $select.search}">
            <div ng-bind-html="application.subAppName | highlight: $select.search"></div>
            <span>
              Id: {{application.appId}}
              <small ng-bind-html="''+application.appName | highlight: $select.search"></small>
            </span>
          </ui-select-choices>

        </ui-select>

      </div>
    </div>

    <div class="row" ng-show="model.selected">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-expeditedssl fa-2x"></i>
            </a>
            <div class="media-body">
              <h4>App Name - [Code]</h4>
              <p class="text-muted">
                <span ng-bind="model.selected.appName"></span> [
                <span ng-bind="model.selected.appId"></span>
                ]
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
          <div class="">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Sub App Name</h4>
                <p class="text-muted">
                  <span ng-bind="model.selected.subAppName"></span> 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>App Manger</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Management Contact</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Resource Type</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Resource Protocal</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel">
          <div class="panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Resource Host</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Process Id</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Process Name</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>System User</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Device Name</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-body">
            <div class="media">
              <a class="pull-left" href="#">
                <i class="fa fa-expeditedssl fa-2x"></i>
              </a>
              <div class="media-body">
                <h4>Authentication Method</h4>
                <p class="text-muted">
                  VectorLab, Inc.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container" ng-controller="UtTableController as modelTable" ng-show="model.selected || true">

    <div class="row" ng-show="modelTable.showDataEntryForm">

      <div class="col-xs-12 ut-form-container ut-form-section">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <form name="modelTable.artisForm" class="ut-form" ng-submit="modelTable.submit()" novalidate>

              <h3 class="text-center">View Registration</h3>

              <div ut-input>
                <label class="ut-label" for="firstName">First name</label>
                <input class="ut-text-input" type="text" id="firstName" name="firstName"
                min="2" max="50" required placeholder="First name" 
                ng-model="modelTable.editedArtist.firstName">
              </div>

              <div ut-input>
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" name="lastName" 
                min="2" max="50" required placeholder="Last name" 
                ng-model="modelTable.editedArtist.lastName">
              </div>

              <div ut-input>
                <label for="company">Company</label>
                <input type="text" id="company" name="company" required placeholder="Company" ng-model="modelTable.editedArtist.company">
              </div>

              <div ut-input>
                <label for="address">Address</label>
                <input type="text" id="address" name="address" required placeholder="Address" ng-model="modelTable.editedArtist.address">
              </div>

              <div ut-input>
                <label for="city">City</label>
                <input type="text" id="city" name="city" required placeholder="City" ng-model="modelTable.editedArtist.city">
              </div>

              <div ut-input>
                <label for="country">Counntry</label>
                <select name="country" id="country" ng-model="modelTable.editedArtist.country">
                    <option>France</option>
                    <option>Germany</option>
                    <option>England</option>
                    <option>India</option>
                    <option>The United States of America</option>
                </select>
              </div>

              <div ut-input>
                <label for="zipCode">Zip Code</label>
                <input type="text" id="zipCode" name="zipCode" required placeholder="zipCode" ng-model="modelTable.editedArtist.zipCode">
              </div>

              <div ut-input>
                <label for="telephone">Telephone</label>
                <input type="text" id="telephone" name="telephone" required placeholder="Telephone" ng-model="modelTable.editedArtist.telephone">
              </div>

              <div class="form-group">
                <label class="ut-label" for="">Hobby</label>
                <tags-input ng-model="modelTable.hobbyList" 
                  placeholder="Add a hobby" 
                  replace-spaces-with-dashes="false"
                  add-from-autocomplete-only="true"
                  on-tag-added="tagAdded($tag)"
                  on-tag-removed="tagRemoved($tag)">
                  <auto-complete source="modelTable.LoadHobbyList" 
                     min-length="0" 
                     debounce-delay="0"
                     max-results-to-show="20">
                   </auto-complete>
                </tags-input>
              </div>

              <div>
                <input class="btn btn-danger ut-button-input" type="submit" value="Submit" ng-click="modelTable.submitForm()"/>
                <input class="btn btn-danger ut-button-input" 
                  type="button" value="Cancel" ng-click="modelTable.cancelForm()" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="(model.selected === true || model.formEditMode === false) ? true : false">
      <div class="col-xs-12">

      <table class="table table-striped table-hover table-bordered ut-search-table">
         
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"><a href="" ng-click="orderByField='firstName'; reverseSort = !reverseSort">First Name</a></th>
              <th scope="col"><a href="" ng-click="orderByField='lastName'; reverseSort = !reverseSort">Last Name</a></th>
              <th scope="col"><a href="" ng-click="orderByField='company'; reverseSort = !reverseSort">Company</a></th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Zip</th>
              <th scope="col">Country</th>
              <th scope="col">Telephone</th>
              <th scope="col"> </th>
              <th scope="col"> </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
              </td>
              <td><input type="text" name="firstName" class="form-control small" value="" 
                ng-model="model.search.firstName"></td>
              <td><input type="text" name="lastName" class="form-control small" value="" ng-model="model.search.lastName"></td>
              <td><input type="text" name="company" class="form-control small" value="" ng-model="model.search.company"></td>
              <td><input type="text" name="address" class="form-control small" value="" ng-model="model.search.address"></td>
              <td><input type="text" name="appId" class="form-control small" value="" ng-model="model.search.appId"></td>
              <td><input type="text" name="zipCode" class="form-control small" value="" ng-model="model.search.zipCode"></td>
              <td><input type="text" name="country" class="form-control small" value="" ng-model="model.search.country"></td>
              <td><input type="text" name="telephone" class="form-control small" value="" ng-model="model.search.telephone"></td>
              <td>
                <a type="button" value="Edit" class="btn" ng-click="model.clearFilter()">
                  <i class="fa fa-filter"></i>
                </a>
              </td>
              <td>
                <a type="button" value="Edit" class="btn" ng-click="modelTable.setEditedArtist()">
                  <i class="fa fa-plus"></i>
                </a>
              </td>
            </tr>

            <tr ut-highlight ng-repeat="artist in modelTable.artistList | filter: {appId : model.selected.appId, firstName: model.search.firstName, lastName: model.search.lastName} | orderBy:orderByField:reverseSort">

              <td>
                <i class="fa fa-laptop"></i>
              </td>
              <td ng-bind="artist.firstName"></td>
              <td ng-bind="artist.lastName"></td>
              <td>
                <div class="ut-long-text-container">
                  <p class="ut-force-word-wrap" ng-bind="artist.company">
                  </p>
                </div>
              </td>
              <td ng-bind="artist.address"></td>
              <td ng-bind="artist.appId"></td>
              <td ng-bind="artist.zipCode"></td>
              <td ng-bind="artist.country"></td>
              <td ng-bind="artist.telephone"></td>
              <td> 
                <a type="button" value="Edit" class="btn" ng-click="modelTable.setEditedArtist(artist)">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
              <td> 
                <a type="button" value="Remove" class="btn" ng-click="modelTable.removeArtist(artist)">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            
            </tr>
         </tbody>
        </table>
        
      </div>
    </div>

  </div>
  <!-- search ends -->
</section>