<footer class="tmot-footer navbar navbar-fixed-bottom">
  <div class="container-fluid tmot-container">
    <div class="row">
        <div class="col-xs-12 col-md-6 text-center">
            <span class="copyright">Copyright &copy; 20XX Lorem ipsum dolor sit amet.</span>
        </div>

        <div class="col-xs-12 col-md-6 text-center">
           <ul class="list-inline">
            <li><a href="docs/glk350.pdf" target="_blank">PDF</a>
            </li>
            <li><a href="docs/glk350.xlsx" target="_blank">XLS</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</footer>